.container {
    display: flex;
}

.sidebar {
    width: 200px;
    padding: 20px;
    border: 2px solid yellow;
    background-color: #f1f1f1;
}

.sidebar a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: yellow;
}

.sidebar a:hover {
    color: #000;
}

.content {
    flex: 1;
    padding: 20px;
}

.content h1, .content p, .content ul, .content table {
    margin-bottom: 20px;
}

* {
    color: yellow;
    background-color: black;
    text-align: center; 
    padding: 5px; 
    line-height: 1.5;
}