.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #f1f1f1;
    padding: 20px;
}

.sidebar a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
}

.sidebar a:hover {
    color: #000;
}

.content {
    flex: 1;
    padding: 20px;
}

* {
    color: yellow;
    background-color: black;
    font-size: 16px;
    font-family: Arial, sans-serif;
}